@import url(../../../App.css);

.scrolling-text {
display: flex;
justify-content: flex-start;
background-color: var(--orange-hover);
overflow: hidden;
padding: 10px 0px;
}

.scrolling-text span {
  font-size: 14px;
  color: var(--white-main);
  text-transform: uppercase;
  font-weight: bolder;
  white-space: nowrap;
  letter-spacing: 2px;
  animation: scroll 30000ms linear infinite;
  font-family: 'Poppins', sans-serif;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
