.user-register-form-container {
  width: 100%;
  margin: 25px auto 0px;
  padding: 25px;
  border: 1px solid #cfcfcf;
  border-radius: 8px;
}

.user-register-form-container h2 {
  color: #3a2618;
  margin-bottom: 25px;
  font-family: "Lexend Deca", sans-serif;
}

.user-register-form-container .form-row {
  display: flex;
  justify-content: space-between;
  flex: 0 0 calc(50% - 25px);
  margin-bottom: 25px;
}

.user-register-form-container .form-row .form-column {
  flex: 0 0 calc(50% - 25px);
  display: flex;
  flex-wrap: wrap;
}

.user-register-form-container .form-row .form-column label {
  width: 100%;
  margin-bottom: 15px;
  font-family: "Lexend Deca", sans-serif;
  color: #3a2618;
}

.user-register-form-container .form-row .form-column input,
.user-register-form-container .form-row .form-column select {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #cfcfcf;
  font-size: 12px;
  padding: 8px;
  font-family: "Lexend Deca", sans-serif;
  outline: none;
  width: 100%;
  color: #3a2618;
  font-weight: 400;
}

.user-register-form-container .form-row .form-column select {
  padding: 7px;
}

.user-register-form-container .form-row .form-column input:focus,
.user-register-form-container .form-row .form-column select:focus {
  border: 1px solid #fe7e00;
}

.user-register-form-container .form-row .form-column input::placeholder {
  color: #3a2618;
}

.user-register-form-container .form-row .form-column select option {
  color: #3a2618;
}

.user-register-form-container .form-row .form-column .label {
  width: 100%;
  display: block;
  margin-bottom: 15px;
  font-family: "Lexend Deca", sans-serif;
}

.user-register-form-container .form-row .form-column .form-column-aux {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(50% - 15px);
}

.user-register-form-container .form-row .form-column .form-column-aux.aux {
  margin: 0px 30px 0px 0px;
}

.user-register-form-container .form-row .form-column .form-column-aux label {
  width: max-content;
}

.user-register-form-container
  .form-row
  .form-column
  .form-column-aux
  label.radio {
  font-weight: 400;
  font-size: 12px;
  display: inline-block;
  color: #3a2618;
}

.user-register-form-container
  .form-row
  .form-column
  .form-column-aux
  label
  input {
  width: max-content;
  margin: 0px 10px 0px 0px;
}

.user-register-form-container
  .form-row
  .form-column
  .form-column-aux.aux-radio {
  transform: translateY(7.5px);
}

.user-register-form-container .submit-button {
  margin-top: 25px;
  text-align: center;
}

.user-register-form-container .submit-button button {
  padding: 10px 60px;
  background-color: #ffb267;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bolder;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

@media only screen and (max-width: 600px) {
  .user-register-form-container {
    width: 100%;
  }

  .user-register-form-container .form-row {
    display: flex;
    flex-direction: column;
    margin: 0px;
    flex: 0 0 calc(100% - 0px);
  }

  .user-register-form-container .form-row .form-column {
    flex: 0 0 calc(100% - 0px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .user-register-form-container .form-row .form-column .form-column-aux {
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(100% - 0px);
  }

  .user-register-form-container .form-row .form-column .form-column-aux.aux {
    margin: 0px;
  }

  .user-register-form-container .form-row .form-column .label {
    margin: 15px 0px;
  }

  .user-register-form-container .form-row .form-column label {
    margin: 15px 0px;
  }

  .user-register-form-container
    .form-row
    .form-column
    .form-column-aux
    label
    input {
    width: max-content;
    margin: 0px 10px 0px 0px;
  }

  .user-register-form-container
    .form-row
    .form-column
    .form-column-aux.aux-radio {
    transform: translateY(0px);
  }
}


@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .user-register-form-container {
    width: 100%;
  }

  .user-register-form-container .form-row {
    display: flex;
    margin: 0px;
    flex: 0 0 calc(100% - 25px);
  }

  .user-register-form-container .form-row .form-column {
    flex: 0 0 calc(50% - 25px);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .user-register-form-container .form-row .form-column .form-column-aux {
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(50% - 25px);
  }

  .user-register-form-container .form-row .form-column .form-column-aux.aux {
    margin: 0px;
  }

  .user-register-form-container .form-row .form-column .label {
    margin: 15px 0px;
  }

  .user-register-form-container .form-row .form-column label {
    margin: 15px 0px;
  }

  .user-register-form-container
    .form-row
    .form-column
    .form-column-aux
    label
    input {
    width: max-content;
    margin: 0px 10px 0px 0px;
  }

  .user-register-form-container
    .form-row
    .form-column
    .form-column-aux.aux-radio {
    transform: translateY(0px);
  }
}