@import url(../../../App.css);

footer {
  background-color: var(--color-blue-cream) !important;
  font-family: "Lexend", sans-serif;
  border-top: 4px solid var(--color-white-main) !important;
}

footer .footer-container {
  width: 70%;
  height: auto;
  margin: auto;
  padding: 50px 0px;
  display: flex;
  column-gap: 30px;
  justify-content: center;
}

footer .footer-container .footer-left {
  width: 25% !important;
}

footer .footer-container .footer-left img {
  width: 275px;
  height: auto;
}

footer .footer-container .footer-left p {
  font-size: 14px;
  color: var(--color-text-gray);
  font-family: "Lexend Deca", sans-serif;
}

footer .footer-container .footer-left ul {
  display: flex;
  margin-top: 15px;
}

footer .footer-container .footer-left ul li {
  list-style: none;
  margin: 0px 24px 0px 0px;
}

footer .footer-container .footer-left ul li a {
  display: block;
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  border-radius: 8px;
  color: var(--color-blue-dark);
  background-color: var(--color-white-main);
  border: 1px solid var(--color-border-gray);
}

footer .footer-container .footer-left ul li a:hover {
  background-color: var(--color-blue-dark);
  color: var(--color-white-main);
}

footer .footer-container .footer-center {
  width: 50% !important;
}

footer .footer-container .footer-center h5 {
  font-family: "Lexend Deca", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--color-text-dark);
}

footer .footer-container .footer-center p {
  margin-top: 10px;
  color: var(--color-text-gray);
  font-family: "Lexend Deca", sans-serif;
}

footer .footer-container .footer-right {
  width: 25% !important;
}

footer .footer-container .footer-right h5 {
  font-family: "Lexend Deca", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--color-text-dark);
}

footer .footer-container .footer-right a {
  display: block;
  margin: 10px 0px 0px 0px;
  color: var(--color-text-gray);
  text-decoration: none;
  font-family: "Lexend Deca", sans-serif;
}

footer .footer-container .footer-right .logo-href {
  margin: 0;
}

footer .footer-container .footer-right a:hover {
  text-decoration: underline;
}

footer .footer-container .footer-right img {
  width: 160px;
  height: auto;
  display: block;
}

footer .footerButtom {
  width: 100%;
  padding: 25px 0px;
  text-align: center;
  background-color: var(--color-blue-dark);
  color: var(--color-white-main);
  font-size: 16px;
  font-family: "Lexend Deca", sans-serif;
}

footer .footerButtom a {
  color: var(--color-white-main);
  text-decoration: none;
}

footer .footerButtom a:hover {
  text-decoration: underline;
}

footer .whatsaap-flotante {
  display: block !important;
  position: fixed;
  right: 35px;
  bottom: 35px;
  z-index: 30;
}

@media only screen and (max-width: 600px) {
  footer .footer-container {
    width: 90% !important;
    height: auto;
    margin: auto;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 0px !important;
  }

  footer .footer-container .footer-left,
  footer .footer-container .footer-center,
  footer .footer-container .footer-right {
    width: 100% !important;
  }

  footer .footer-container .footer-left p {
    font-size: 17px;
    margin: 5px 0px;
  }

  footer .footer-container .footer-center {
    margin: 25px 0px;
    padding-left: 0px !important;
  }

  footer .footerButtom {
    width: 100%;
    padding: 25px 5%;
    font-size: 10px;
  }

  footer .whatsaap-flotante {
    display: block !important;
    position: fixed;
    right: 25px;
    bottom: px;
    z-index: 30;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  footer .footer-container {
    width: 90% !important;
    height: auto;
    margin: auto;
    padding: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 0px !important;
  }

  footer .footer-container .footer-left {
    width: 100% !important;
  }

  footer .footer-container .footer-left p {
    font-size: 19px;
    margin: 5px 0px;
  }

  footer .footer-container .footer-center {
    width: 50% !important;
    padding: 0px !important;
    margin: 25px 0px;
  }

  footer .footer-container .footer-right {
    width: 50% !important;
    padding: 0 !important;
    margin: 25px 0px;
  }

  footer .footer-container .footer-right img {
    display: inline !important;
    margin: 0px 15px 0px 0px;
    width: 165px;
  }

  footer .footer-container .footer-right img:nth-last-child(2) {
    margin-bottom: -5px;
  }

  footer .footerButtom {
    width: 100%;
    padding: 25px 5%;
    font-size: 13px;
  }

  footer .footer-container .footer-left ul li a {
    display: block;
    width: 46px;
    height: 46px;
    font-size: 23px;
    line-height: 46px;
  }

  footer .whatsaap-flotante {
    display: block !important;
    position: fixed;
    right: 25px;
    bottom: 35px;
    z-index: 30;
  }
}

@media only screen and (min-width: 1025px) {
  footer .footer-container {
    width: 75%;
    height: auto;
    margin: auto;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    column-gap: 20px !important;
  }

  footer .footer-container .footer-left {
    width: 30% !important;
  }

  footer .footer-container .footer-center {
    width: 70% !important;
    padding-left: 70px !important;
  }
  
  footer .footer-container .footer-right {
    width: 40% !important;
  }
}

@media only screen and (min-width: 1600px) {
  footer .footer-container .footer-center {
    padding-left: 200px !important;
  }
}
