.product-section {
  margin: 50px 0px;
  width: 100%;
}

.product-section .product-header {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding: 0 10px;
}

.product-section .product-title {
  width: 100%;
}

.product-section .product-title h2 {
  font-family: "Lexend Deca", sans-serif;
  font-size: 40px;
  color: #3a2618;
}

.product-section .product-more {
  width: auto;
  height: 100%;
}

.product-section .product-more .product-button-more {
  padding: 5px 45px;
  background-color: #ffffff;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 700;
  color: #ff962e;
  border: 2px solid #ff962e;
  font-family: "Poppins", sans-serif;
  display: none;
}

.product-section .product-more .product-button-more:hover {
  background-color: #ff962e;
  color: #ffffff;
  cursor: pointer;
}

.product-section .product-content {
  width: 100%;
  margin: auto;
  position: relative;
}

.col-product-content {
  width: 20%;
  padding: 0 10px;
}

.product-section .product-content .product-cards {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: first baseline;
}

.product-section .product-content .product-cards .product-card {
  width: 100%;
  height: auto;
  border: 1px solid #e3e3e3;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.product-section
  .product-content
  .product-cards
  .product-card
  .product-card-top {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  position: relative;
}

.product-section
  .product-content
  .product-cards
  .product-card
  .product-card-top
  .product-image {
  width: 100%;
  height: inherit;
}

.product-section
  .product-content
  .product-cards
  .product-card
  .product-card-top
  .product-image
  img {
  max-width: 100%;
  height: auto;
  padding: 40px;
}

.promotion-label {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
}

.product-section
  .product-content
  .product-cards
  .product-card
  .product-card-bottom {
  width: 100%;
  height: 215px;
  background-color: #fff7ec;
  padding: 15px;
  border-top: 1px solid #e3e3e3;
  display: flex;
  flex-direction: column;
  position: relative;
}

.product-section
  .product-content
  .product-cards
  .product-card
  .product-card-bottom
  .category {
  font-size: 14px;
  color: #fe7e00;
  font-weight: 300;
  text-align: left;
  font-family: "Lexend Deca", sans-serif;
}

.product-section
  .product-content
  .product-cards
  .product-card
  .product-card-bottom
  .title {
  font-size: 16px;
  color: #3a2618;
  font-weight: bolder;
  text-align: left;
  font-family: "Poppins", sans-serif;
  margin: 2px 0px;
}

.product-section
  .product-content
  .product-cards
  .product-card
  .product-card-bottom
  .weight {
  font-size: 14px;
  color: #c5c5c5;
  font-weight: 300;
  text-align: left;
  font-family: "Lexend Deca", sans-serif;
}

.product-section
  .product-content
  .product-cards
  .product-card
  .product-card-bottom
  .price {
  font-size: 20px;
  color: #fe7e00;
  font-weight: 600;
  text-align: left;
  margin: 8px 0px;
  font-family: "Poppins", sans-serif;
}

.product-section
  .product-content
  .product-cards
  .product-card
  .product-card-bottom
  .card-product-cart {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.product-section
  .product-content
  .product-cards
  .product-card
  .product-card-bottom
  .card-product-cart
  .card-product-quantity-content {
  width: 50%;
}

.product-section
  .product-content
  .product-cards
  .product-card
  .product-card-bottom
  .card-product-cart
  .card-product-quantity-content
  input {
  width: 45px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  background-color: #ffffff;
  display: center;
  align-items: center;
  align-content: center;
  border: 2px solid #d9d9d9;
  font-size: 16px;
  font-weight: 600;
  margin: 0px 4px;
}

.product-section
  .product-content
  .product-cards
  .product-card
  .product-card-bottom
  .card-product-cart
  .card-product-quantity-content
  input:hover,
.product-section
  .product-content
  .product-cards
  .product-card
  .product-card-bottom
  .card-product-cart
  .card-product-quantity-content
  input:focus {
  border: 2px solid #ff962e;
  background-color: #f4f4f4;
  outline: none;
}

.product-section
  .product-content
  .product-cards
  .product-card
  .product-card-bottom
  .card-product-cart
  .card-product-quantity-content
  .product-decrease,
.product-section
  .product-content
  .product-cards
  .product-card
  .product-card-bottom
  .card-product-cart
  .card-product-quantity-content
  .product-increase {
  width: 23px;
  height: 23px;
  background-color: #ffcd9b;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.product-section
  .product-content
  .product-cards
  .product-card
  .product-card-bottom
  .card-product-cart
  .card-product-quantity-content
  .product-decrease:hover,
.product-section
  .product-content
  .product-cards
  .product-card
  .product-card-bottom
  .card-product-cart
  .card-product-quantity-content
  .product-increase:hover {
  background-color: #ffb267;
}

.product-section
  .product-content
  .product-cards
  .product-card
  .product-card-bottom
  .card-product-cart
  .card-product-quantity-content
  input[type="number"]::-webkit-outer-spin-button,
.product-section
  .product-content
  .product-cards
  .product-card
  .product-card-bottom
  .card-product-cart
  .card-product-quantity-content
  input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.product-section
  .product-content
  .product-cards
  .product-card
  .product-card-bottom
  .card-product-cart
  .card-product-buy-button {
  width: calc(100% - 30px);
  position: absolute;
  bottom: 0;
}

.product-section
  .product-content
  .product-cards
  .product-card
  .product-card-bottom
  .card-product-cart
  .card-product-buy-button
  .product-add {
  background-color: #ff9f40;
  padding: 10px 15px;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  width: 100%;
  margin-bottom: 15px;
}

.product-section
  .product-content
  .product-cards
  .product-card
  .product-card-bottom
  .card-product-cart
  .card-product-buy-button
  .product-add:hover {
  background-color: #ffb267;
}

.product-section
  .product-content
  .product-cards
  .product-card
  .product-card-bottom
  .card-product-cart
  .card-product-buy-button
  .product-add
  span {
  margin-right: 10px;
}

.product-section p{
  font-family: "Poppins", sans-serif;
  padding-left: 15px;
}

@media only screen and (max-width: 600px) {
  .product-header {
    width: 90% !important;
    padding: 0px !important;
  }
  
  .product-section .product-title h2 {
    font-size: 36px;
  }

  .product-content {
    width: 100% !important;
    margin: auto;
    padding: 0px 10px !important;
  }

  .col-product-content {
    width: 100%;
    padding: 0 10px;
  }

  .product-content .product-cards {
    width: 100% !important;
  }

  .product-card {
    width: 100%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .product-section .product-header {
    width: 90%;
    padding: 0;
  }

  .product-section .product-content .product-cards {
    width: 92.5%;
  }

  .col-product-content {
    width: 33.3% !important;
    padding: 0 10px;
  }
}

@media only screen and (min-width: 1025px) {
  .col-product-content {
    width: 25%;
    padding: 0 10px;
  }
}

@media only screen and (min-width: 1600px) {
  .col-product-content {
    width: 20%;
    padding: 0 10px;
  }
}
